*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: #050505;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:is(a, span, h1, h2, h3, h4, h5, h6, p, ul, li, button, input, textarea){
    text-decoration: none;
    color: #f8f8f8;
}